.bs-about-heading{
    /* font-size: 5.5rem; */
    color: #6D1009;
}

.bs-about-sub-heading{
    color: #6D1009;
    font-weight: 600;
}

.bs-about-para-1{
    color: black;
    font-size: 1.18rem;
    line-height: normal
}

.bs-about-circle-bg{
    display: inline-block;
    background: #EAE2B7;
    padding: 1.5rem;
    border-radius: 100px !important;
    margin: 15px;
}

.bs-about-img{
    height: 35rem;
    width: 100%;
}

.bs-about-btn-dw{
    background: #EAE2B7;
    color: black;
    padding: 20px 40px;
    font-size: 1.7rem !important;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.bs-about-btn-dw:hover{
    background: #EAE2B7;
    color: black;
}