.bs-navbar{
    background: #FCBF49 !important;
    padding: 1rem 10rem;
}

.bs-nav-link{
    color: #6D1009 !important;
    font-weight: bold !important;
    font-family: "Open Sans";
}

.bs-btn-orange{
    background: #F77F00 !important;
    font-weight: bold !important;
    font-family: "Open Sans" !important;
}